@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

.home {
    text-decoration: none;
    color: white;
}
.home:hover {
    color: #1ed861;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 72vh;
    background-color: black;
    color: white;
   font-family: 'Varela Round', sans-serif;
   display: flex;
   margin: 23px auto;
   margin-top: 100px;
   
   width: 70%;
   border-radius: 12px;
   padding: 34px;
   background-image: url('bg.jpg');
}

.bottom{
    position: sticky;
    bottom: 0;
    height: 130px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.base {
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
}
.songInfo {
    display: flex;
    align-items: center;
}
.songInfo{
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw; 
    cursor: pointer;
}

.songItemContainer{
    margin-top: 74px;
}


.songItem{
    display: flex;
    background-color: white;
    padding: 12px;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}
.songItem:hover{
    background-color: #1ed861;
    color: white;
    text-shadow: 0px 0px 2px black;
}

.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
    min-width: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.timestamp i{
    cursor: pointer;
}



@media only screen and (max-width: 1100px) {
    body {
        background-color: red;
    }
    .container {
        width: 100%;
        justify-content: center;
        border-radius: 0;
        background-color: black;
        outline: 2px solid black;
        background-image: none;
    }
    .bottom {
        position: fixed;
        width: 100%;
    }
    .base {
        display: block;
        text-align: center;
        width: 100%;
    }
    .songInfo {
        margin-bottom: 7px;
        display: block;
        
    }
  }
